body {
    font-family: sans-serif;
    font-size: 12pt;
}

#url_box, #text_box {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}
#url_input, #text_input {
    font-size: 14pt;
}

#results > li:not(:last-child) {
    margin-bottom: 0.5em;
}

.identifier_name {
    font-style: italic;
}
.best {
    font-weight: bold;
}